<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }}</title>
    </head>
    <body class="py-4">
        <div class="container">
             <div id="app"></div>
        </div>

        <script src="/static/bundle.js"></script>
    </body>
</html>